[Desktop Entry]
Name=Wingpanel-slim
Comment=A super sexy space-saving top panel
Exec=wingpanel-slim
Icon=wingpanel
Terminal=false
Type=Application
Categories=Utility;
NoDisplay=true
X-Ubuntu-Gettext-Domain=wingpanel-slim
X-GNOME-Autostart-Notify=false
X-GNOME-AutoRestart=true
